.main {
}

.titlePropgressError {
    display: flex;
    align-items: center;
}

.form {
    display: inline-block;
    width: 90%;
    word-break: break-all;
    border: 1px solid blue;
    padding: 10px;
    margin: 0 20px;
}

.item {
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 0;
}

.headBlocks {
    display: flex;
    justify-content: space-between;
    /*border: 1px dashed red;*/
}

.headBlockLeft {
    display: flex;
    /*border: 1px dotted green;*/
    /*margin: 5px;*/
}

.headBlockRight {
    display: flex;
    /*border: 1px dotted blue;*/
    /*margin: 5px;*/
}

.footBlocks {
    display: flex;
    justify-content: space-between;
    /*border: 1px dashed red;*/
}

.footBlockLeft {
    display: flex;
    /*border: 1px dotted green;*/
    /*margin: 5px;*/
}

.footBlockRight {
    display: flex;
    /*border: 1px dotted blue;*/
    /*margin: 5px;*/
}

.buttonSort {
    margin-left: 3px;
}

.sortButtonActive {
    background: dodgerblue;
}

.buttonActions {
    margin-right: 5px;
}

.error {
    color: red;
    margin: 10px 0 0 20px;
}