.main {
}

.titleProgressError {
    display: flex;
    align-items: center;
}

.form {
    display: inline-block;
    width: 90%;
    word-break: break-all;
    border: 1px solid blue;
    padding: 10px;
    margin: 0 20px;
}

.item {
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 0;
}

.error {
    color: red;
    margin: 10px 0 0 20px;
    padding: 5px;
    border: 1px solid red;
}