.main {
}

.titleProgressError {
    display: flex;
    align-items: center;
}

.form {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    width: 90%;
    word-break: break-word;
    border: 1px solid blue;
    padding: 10px;
    margin: 0 20px;}

.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    /*border: 1px dashed green;*/
}
.buttons button {
    padding: 10px;
    margin: 0 10px;
}

.grades {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    /*border: 1px dashed blue;*/
}
.grades button {
    padding: 10px;
    margin: 0 10px;
}

.cards {
    display: flex;
    justify-content: space-around;
    /*border: 1px dashed red;*/
}

.error {
    color: red;
    margin: 10px 0 0 20px;
    padding: 5px;
    border: 1px solid red;
}