.main {
    width: 99%;
    text-align: center;
}

.form {
    display: inline-block;
    width: 90%;
    word-break: break-word;
    border: 1px solid green;
    padding: 10px;
    margin: 5px;
}

.closed {
    background: lightcoral;
    color: lightcoral;
}