.main {
}

.titleProgressError {
    display: flex;
    align-items: center;
}

.form {
    max-width: 90%;
    display: inline-block;
    border: 1px solid blue;
    padding: 10px;
    margin: 0 20px;
}

.photo {
    border: 1px solid green;
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;
    margin: 10px 0;
}

.item {
    margin: 10px 0;
    word-break: break-all;
}

.error {
    color: red;
    margin: 10px 0 0 20px;
    padding: 5px;
    border: 1px solid red;
}